<% logger.progname = "views/top" %>
<% logger.info "about.htmlを読み込みました" %>

<% @page_title = "What about this site" %>

<h3><%= @page_title %></h3>

<p>Find Your Favorite Songs はあなたの好みを分析し，あなたにピッタリの曲を紹介するアプリケーションです．使っていくたびにあなたの好みが分析され，正確に紹介ができるようになっていきます．たぶん．
</p>