<% logger.progname = "views/top" %>
<% logger.info "forbeginner.htmlを読み込みました" %>

<% @page_title = "For Beginner" %>

<h3><%= @page_title %></h3>

<p>まずはページ右上の"Search"タグから曲を聞いてみましょう．最初はどの曲が来るかはほぼランダムです．曲の評価を行いつつ自分自身のデータを蓄積しましょう．次第に提示される曲があなたの好みの曲に変わっていくはずです．
</p>