<% logger.progname = "views/search" %>
<% logger.info "index.htmlを読み込みました" %>
<% logger.warn "このページの出現要因は未だ不明ですよ！" %>

<% @page_title = "Search" %>

<h1><%= @page_title %></h1>

<p>ここから探索を始めます?</p>

<p><%= link_to "Search Songs", "#" %></p>