<% logger.progname = "views/search" %>
<% logger.info "show.htmlを読み込みました" %>

<% @page_title = "Search" %>

<h1><%= @page_title %></h1>

<p>ここから探索を始めます</p>

<p><%= link_to "Search Songs", :treasure %></p>